rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /expenses/{document=**} {
      allow read, write: if true;
    }
    match /custom_images/{document=**} {
      allow read, write: if true;
    }
    match /packing_items/{document=**} {
      allow read, write: if true;
    }
  }
}

